<h2>Home</h2>

<p data-bind="text: message"></p>

<button data-bind="click: doSomething">Click me</button>

<table class="table">
  <thead>
    <tr>
      <th>Company Name</th>
      <th>Tag</th>
      <th>location</th>
      <th>Sub-Location</th>
      <th>Applied Dste</th>
      <th>Response Date</th>
      <th>Package Max</th>
      <th></th>
    </tr>
  </thead>

  <!-- Todo: Generate table body -->
  <tbody data-bind="foreach: companies">
    <td data-bind="text: companyName"></td>
    <td data-bind="text: tagOfIt"></td>
    <td data-bind="text: myloaction"></td>
    <td data-bind="text: subLocation"></td>
    <td data-bind="text: appliedDate"></td>
    <td data-bind="text: responseDate"></td>
    <td data-bind="text: maxPackage"></td>
  </tbody>
</table>
